.fname{
    // background-color: #fff;
    // border: transparent;
    position: relative;
}

.shape{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    color:blue;
    background-color: black;
    position: absolute;
    top : 30px;
    left: 8px
}